
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 3px solid black;
}

th, td {
    border: 3px solid #dddddd;
    padding: 8px;
    text-align: left;
}
tr:nth-child(1){
    background-color: lightgray;
}

body {
    background-color: #cceeff;
}
.up-to-date {
    color: #00FF00;
}

.not-up-to-date {
    color: #FF0000;
}
